
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
body{
    background-color: black;
    color: white;
}
.container {
    height: 100vh;
    display: flex;

}

.sider-bar {
    width: 300px;
    background-color: #121212;
    padding: 10px;
    padding-bottom: 90px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.logo i  {
    font-size: 24px;
}


.nav-Library{
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-Library i,.nav-Library p  {
    color: #b7b3b3;
    font-size: 14px;
    cursor: pointer;
}

.nav-playlist , .nav-podcast {
    background-color: #242424;
    padding: 16px;
    border-radius: 8 px;
}
.nav-playlist  button , .nav-podcast button {
    background-color: #ffff;
    color: #000;
    border: none;
    padding: 6px 10px;
    margin-top: 16px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 20px;
}
.nav-playlist  p , .nav-podcast p {
    font-size: 12px;
}

.nav-Footer {
    margin-top: auto;
    
}
.nav-Footer  a {
    color: #a7a7a7;
    text-decoration: none;
    font-size: 12px;
    margin-right:12px;
    margin-bottom: 8px;
}
.nav-lang-button {
     background-color: transparent;
     border: 1px solid #ffff;
     color: #ffff;
     padding: 8px 12px;
     margin-top: 16px;
     cursor: pointer;
     border-radius: 20px;
}

main {
    padding: 24px;
    flex-grow: 1;
    overflow-y: auto;
    
}

.search-bar{
    display: flex;
    align-items: center;
    background-color: #242424;
    padding: 8px 16px;
    border-radius: 20px;
    width: 300px;
}

.search-bar input {
   background-color: transparent;
    border: none;
    color: #ffffff;
    width: 100%;
    margin-left: 10px;
    outline: none;
}
 .artists-grind, .albums-grind {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 20px;
 }

   .artists-card , .albums-card {
    background-color: #181818;
    padding: 16px;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
 .artists-card:hover , .albums-card:hover {
    background-color: #282828;
}

.artists-card img, .albums-card img {
    width: 100%;
    max-height: 70%;
    
    margin-bottom: 16px;
}

    .artists-card p, .albums-card p {
        font-size: 10px;
        color: #b7b3b3;
    }
.artists-card h3, .albums-card h3 {
    font-size: 12px;
    color: #ffffff;
    margin-bottom: 8px;
}
    
.content{
    margin-top: 40px;
}

.content h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.banner{
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    background: linear-gradient(90deg, #af2896, #509bf5);
    display: flex;
    justify-self: space-between;
    align-items: center;
    padding: 8px 14px;
}
.banner h2{
    font-size: 14px;
}
.banner p{

    font-size: 10px;
}

.banner button {
    border-radius: 20px;
    color: #000;
    border: none;
    padding: 12px 20px;
    font-weight: 600px;
    cursor: pointer;
}